$color-grey-one: #666666;
$color-grey-two: #b3b3b3;
$color-grey-three: #d8d8d8;
$color-blue-one: #0079ff;

@import "./mixins.scss";
@import "./search-bar.scss";
@import "./recent-posts.scss";
@import "./home.scss";
@import "./results.scss";

html {
  font-size: 62.5%; // 1rem is 10px
  font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-weight: normal;
  font-family: "Lato", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.app-wrapper {
  display: grid;
  justify-content: center;
}

.home {
  font-family: "Lato", sans-serif;
  @include default-page-layout;
}

.post-topic {
  margin: 0 4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
