.recent-posts {
  display: grid;
  align-content: center;
  justify-items: center;

  .recent-posts-wrapper {
    display: grid;
    grid-row-gap: 21px;

    .recent-posts-heading {
      color: $color-blue-one;
      font-size: 14px;
    }
    .recent-posts-posts {
      display: grid;
      justify-content: space-evenly;
      @media screen and (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      grid-gap: 42px;
    }
  }
}
